@import '../../styles/colors';

.header {
  display: flex;
  align-items: center;
  height: 8vh;
  width: 100%;
  position: fixed;
  top: 0;
  background: $color-white;
  border-bottom: 2px solid $color-border;
  padding: 0 10vmin;
  z-index: 999;

  button {
    width: 15vw;
    height: 4vh;
    background: $color-purple;
    color: $color-white;
    border-radius: 3px;
    font-size: 1vw;
  }
}
.mainWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10vmin;
  min-height: 90vh;
  background: $color-background;

  .gridWrapper {
    width: 100%;
    display: inline-grid;
    column-gap: 2vmin;
    row-gap: 2vmin;
    grid-template-columns: 24% 24% 24% 24%;

    &__item {
      height: 40vw;
    }
  }
}
