//Color variables
$color-danger: #e41818;
$color-success: #3a9c2d;
$color-warning: #dfc014;

$color-white: #ffffff;
$color-black: #000000;
$color-background: #edf2f8;
$color-border: #dfdddd;
$color-purple: #4245c2;
