@import './styles/colors';
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p {
  font-size: 1vw;
}
h6 {
  font-size: 1vw;
}
h5 {
  font-size: 1.5vw;
}

.danger {
  color: $color-danger;
}

.success {
  color: $color-success;
}

.warning {
  color: $color-warning;
}
